
<div id="homepage_header">

  <div class="homepage_background otherpage_background "></div>
  <a href=<%= root_path %>><div id="logo"></div></a>
  <div class="container otherpage_background_fix ">

  <!-- Logo -->
    <!--<div id="logoText">-->
      <!--<h1><a href=<%= root_path %>>BC Studio</a></h1>-->
    <!--</div>-->
  
  <!-- Nav -->
    <!--<nav id="nav">-->
      <!--<ul>-->
        <!--&lt;!&ndash; <li class="active"><a href="index.html">Homepage</a></li> &ndash;&gt;-->
        <!--<li><%#= link_to "Graphic Design", home_design_path%></li>-->
		<!--<li class="active"><%#= link_to "MKT Creatives", home_creatives_path%></li>-->
        <!--<li><%#= link_to "Website", home_website_path%></li>-->
        <!--<li><%#= link_to "Consultant", home_consultant_path%></li>-->
        <!--<li><%#= link_to "Contact", contacts_path%></li>-->
      <!--</ul>-->
    <!--</nav>-->
  </div>
</div>
<nav id="navGorizontal">
  <ul>
    <!-- <li class="active"><a href="index.html">Homepage</a></li> -->
    <li><%= link_to "Graphic Design", home_design_path%></li>
    <li class="active"><%= link_to "Creative Marketing", home_creatives_path%></li>
    <li><%= link_to "Web Design", home_website_path%></li>
    <li><%= link_to "Consultant", home_consultant_path%></li>
    <li><%= link_to "Contact", contacts_path%></li>
  </ul>
</nav>
<div class="container-fluid intro" id="about">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="creative-1">CREATIVE MARKETING</h1>
      <p class="text-intro">Bring your brand alive - Elite artists, designers, content editors, marketing specialists and strategists will all work together…</p>
      <ul class="inline-list">
        <li>Advertisement</li>
        <li>Online Marketing</li>
        <li>Creative Branding</li>
      </ul>

    </div>
  </div>
</div>
<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 section-1-mark nopadding" id="work">
				<div class="logo-6 wp1"></div>
			</div>
			<div class="col-md-4 section-text nopadding">
				<div class="wp4">
					<h2 class="creative-2">ADVERTISEMENT</h2>
                    <p>Cow Cow Cow, Pink Cow! Car Car Car, a Camel!</br> That’s how we do it…</p>
				    <ul class="text-list-for-mkt-adv">
					  <li>Ads Graphic</li>
					  <li>Print Illustration</li>
					  <li>Video intro / commercial</li>
					  <li>Direct Marketing</li>
				      <li>Media Buying & Placement</li>
					</ul>
					<div class="thin-sep"></div>
				</div>
				<div class="small-featured-img section-small-1-mark">
					<div class="arrow"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 section-text nopadding">
				<div class="wp5">
					<h2 class="creative-3">ONLINE MARKETING</h2>
					<ul class="text-list-for-mkt-online">
					    <li>Social Media</li>
					    <li>Blogs</li>
					    <li>Email Campaign</li>
					    <li>Online Paid Ads</li>
					    <li>Landing Page</li>
					    <li>Search Engine Optimization (SEO)</li>
					</ul>
					<div class="thin-sep"></div>
				</div>
				<div class="small-featured-img section-small-1-mark">
					<div class="arrow"></div>
				</div>
			</div>
			<div class="col-md-8 section-2-mark nopadding">
				<div class="logo-9 wp2"></div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 section-3-mark">
				<div class="logo-7 wp3"></div>
			</div>
			<div class="col-md-4 section-text nopadding">
				<div class="wp6">
					<h2 class="creative-4">CREATIVE BRANDING</h2>
					<ul class="text-list-for-mkt-branding">
					    <li>Corporate Identity</li>
					    <li>Loyalty Program</li>
					    <li>Customer Experiences</li>
					    <li>Message Creation / Content Editing</li>
					</ul>
					<div class="thin-sep"></div>
				</div>
				<div class="small-featured-img section-small-1-mark">
					<div class="arrow"></div>
				</div>
			</div>
			<div class="col-md-4 section-4-mark">
			  <div class="logo-8 wp2"></div>
			</div>
		</div>
	</div>
</div>

