
<div id="homepage_header">

  <div class="homepage_background otherpage_background "></div>
  <a href=<%= root_path %>><div id="logo"></div></a>
  <div class="container otherpage_background_fix ">


    <!-- Logo -->
    <!--<div id="logoText">-->
    <!--<h1><a href=<%= root_path %>>BC Studio</a></h1>-->
    <!--</div>-->

    <!-- Nav -->
    <!--<nav id="nav">-->
    <!--<ul>-->
    <!--&lt;!&ndash; <li class="active"><a href="index.html">Homepage</a></li> &ndash;&gt;-->
    <!--<li><%#= link_to "Graphic Design", home_design_path%></li>-->
    <!--<li><%#= link_to "MKT Creatives", home_creatives_path%></li>-->
    <!--<li class="active"><%#= link_to "Website", home_website_path%></li>-->
    <!--<li><%#= link_to "Consultant", home_consultant_path%></li>-->
    <!--<li><%#= link_to "Contact", contacts_path%></li>-->
    <!--</ul>-->
    <!--</nav>-->
  </div>
</div>
<nav id="navGorizontal">
  <ul>
    <!-- <li class="active"><a href="index.html">Homepage</a></li> -->
    <li><%= link_to "Graphic Design", home_design_path%></li>
    <li><%= link_to "Creative Marketing", home_creatives_path%></li>
    <li class="active"><%= link_to "Web Design", home_website_path%></li>
    <li><%= link_to "Consultant", home_consultant_path%></li>
    <li><%= link_to "Contact", contacts_path%></li>
  </ul>
</nav>

<div class="container-fluid padding-top-sm" id="about">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 padding-top">
      <!--<h1 class="chain chain-website"></h1>-->
      <p>How we think the new generation website looks like:</p>
    </div>
  </div>
</div>

<div class="container-fluid padding-bottom-75">

  <div class="row">

    <div class="col-md-8 section-web-1 responsive-column websiteDim1 pull-right-sm">
      <!--<div class="logo-2 wp2"></div>-->
    </div>

    <div class="col-md-4 responsive-column-text pull-left-sm">
      <div class="wp5">
        <h2 class="website-1">TRENDY NOW:</h2>
        <div class="text-list-for-website-1">
	        <ul>
	          <li>Simple and Flat</li>
	          <li>Full Screen Background</li>
	          <li>Over Sized Media Banner</li>
	          <li>Interactive Content - Media, Infographic</li>
	          <li>Visual Effects and Creative Graphics</li>
	        </ul>

	        <div class="thin-sep"></div>
	        <p class="dont-click-left"><a href="javascript:;">Don't Ever Click Here</a></p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

  </div>

  <div class="row">
    <div class="col-md-8 section-web-2 responsive-column websiteDim2">
      <!--<div class="logo-1 wp1"></div>-->
    </div>
    <div class="col-md-4 responsive-column-text">

      <div class="wp4 ">
        <h2 class="website-2">TRENDY + :</h2>
        <div class="text-list-for-website-2">
          <ul>
            <li>Tablets and Smart Phone Friendly</li>
            <li>Touch Screen Feature Friendly - Big Buttons</li>
            <li>Real model image instead of only product image</li>
          </ul>
          <div class="thin-sep"></div>
          <p class="dont-click-left"><a href="javascript:;">Don't Ever Click Here</a></p>
        </div>

      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-8 section-web-3 responsive-column websiteDim3 pull-right-sm">
      <!--<div class="logo-2 wp2"></div>-->
    </div>

    <div class="col-md-4 responsive-column-text  pull-left-sm">
      <div class="wp5">
        <h2 class="website-3">‘OLD SCHOOL’</br> BUT STILL WORKING:</h2>
        <div class="text-list-for-website-3">
          <ul>
            <li>Less Text Content</li>
            <li>Less Secondary and Extensive Menus</li>
            <li>Less Columns and Boarders</li>
          </ul>
          <div class="thin-sep"></div>
          <p class="dont-click-left"><a href="javascript:;">Don't Ever Click Here</a></p>
        </div>

      </div>
    </div>

  </div>

 </div>

<!--<div class="website-block">-->
  <!--<div class="content-block">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-5 col-md-5 website-text-left">-->
        <!--<h4><a href="https://intense-brook-3856.herokuapp.com/">Miracle Back Brace</a></h4>-->
        <!--<p>If you suffer from Lower Back Pain the Miracle Back Brace my greatly improve your life by letting you go throughout the daily activities with little or no pain.Miracle Back Brace is a new patented back brace that is incredibly effective</p>-->
      <!--</div>-->
      <!--<div class="box col-sm-7 col-md-7 nopadding">-->
        <!--<%=image_tag('website/image-6.png', class: "one-column") %>-->
        <!--<div class="overlay">-->
            <!--<span class="overlay-content">-->
                <!--<a href="https://intense-brook-3856.herokuapp.com" class="button">Go to site</a>-->
            <!--</span>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row ">-->
      <!--<div class="box col-sm-7 col-md-7 nopadding">-->
        <!--<%=image_tag('website/image-7.png', class: "one-column") %>-->
        <!--<div class="overlay">-->
                        <!--<span class="overlay-content">-->
                            <!--<a href="http://dev.bullcentury.com" class="button">Go to site</a>-->
                        <!--</span>-->

        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-sm-5 col-md-5 website-text-right">-->
        <!--<h4><a href="http://dev.bullcentury.com">BullCentury - Crowdfunding</a></h4>-->
        <!--<p>Crowdfunding (alternately crowd financing, equity crowdfunding, crowd-sourced fundraising) is the collective effort of individuals who network and pool their money, usually via the Internet, to support efforts initiated by other people or organizations.</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-sm-5 col-md-5 website-text-left">-->
        <!--<h4><a href="https://intense-brook-3856.herokuapp.com/">Miracle Back Brace</a></h4>-->
        <!--<p>If you suffer from Lower Back Pain the Miracle Back Brace my greatly improve your life by letting you go throughout the daily activities with little or no pain.Miracle Back Brace is a new patented back brace that is incredibly effective</p>-->
      <!--</div>-->
      <!--<div class="box col-sm-7 col-md-7 nopadding">-->
        <!--<%=image_tag('website/image-8.png', class: "one-column") %>-->
        <!--<div class="overlay">-->
                        <!--<span class="overlay-content">-->
                            <!--<a href="https://intense-brook-3856.herokuapp.com" class="button">Go to site</a>-->
                        <!--</span>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row ">-->
      <!--<div class="box col-sm-7 col-md-7 nopadding">-->
        <!--<%=image_tag('website/image-1.png', class: "one-column") %>-->
        <!--<div class="overlay">-->
					<!--<span class="overlay-content">-->
						<!--<a href="http://dev.bullcentury.com" class="button">Go to site</a>-->
					<!--</span>-->

        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-sm-5 col-md-5 website-text-right">-->
        <!--<h4><a href="http://dev.bullcentury.com">BullCentury - Crowdfunding</a></h4>-->
        <!--<p>Crowdfunding (alternately crowd financing, equity crowdfunding, crowd-sourced fundraising) is the collective effort of individuals who network and pool their money, usually via the Internet, to support efforts initiated by other people or organizations.</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-sm-5 col-md-5 website-text-left">-->
        <!--<h4><a href="https://intense-brook-3856.herokuapp.com/">Miracle Back Brace</a></h4>-->
        <!--<p>If you suffer from Lower Back Pain the Miracle Back Brace my greatly improve your life by letting you go throughout the daily activities with little or no pain.Miracle Back Brace is a new patented back brace that is incredibly effective</p>-->
      <!--</div>-->
      <!--<div class="box col-sm-7 col-md-7 nopadding">-->
        <!--<%=image_tag('website/image-2.png', class: "one-column") %>-->
        <!--<div class="overlay">-->
					<!--<span class="overlay-content">-->
						<!--<a href="https://intense-brook-3856.herokuapp.com" class="button">Go to site</a>-->
					<!--</span>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row ">-->
      <!--<div class="box col-sm-7 col-md-7 nopadding">-->
        <!--<%=image_tag('website/image-3.png', class: "one-column") %>-->
        <!--<div class="overlay">-->
					<!--<span class="overlay-content">-->
						<!--<a href="http://dev.bullcentury.com" class="button">Go to site</a>-->
					<!--</span>-->

        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-sm-5 col-md-5 website-text-right">-->
        <!--<h4><a href="http://dev.bullcentury.com">BullCentury - Crowdfunding</a></h4>-->
        <!--<p>Crowdfunding (alternately crowd financing, equity crowdfunding, crowd-sourced fundraising) is the collective effort of individuals who network and pool their money, usually via the Internet, to support efforts initiated by other people or organizations.</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-sm-5 col-md-5 website-text-left">-->
        <!--<h4><a href="https://intense-brook-3856.herokuapp.com/">Miracle Back Brace</a></h4>-->
        <!--<p>If you suffer from Lower Back Pain the Miracle Back Brace my greatly improve your life by letting you go throughout the daily activities with little or no pain.Miracle Back Brace is a new patented back brace that is incredibly effective</p>-->
      <!--</div>-->
      <!--<div class="box col-sm-7 col-md-7 nopadding">-->
        <!--<%=image_tag('website/image-4.png', class: "one-column") %>-->
        <!--<div class="overlay">-->
					<!--<span class="overlay-content">-->
						<!--<a href="https://intense-brook-3856.herokuapp.com" class="button">Go to site</a>-->
					<!--</span>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row ">-->
      <!--<div class="box col-sm-7 col-md-7 nopadding">-->
        <!--<%=image_tag('website/image-5.png', class: "one-column") %>-->
        <!--<div class="overlay">-->
					<!--<span class="overlay-content">-->
						<!--<a href="http://dev.bullcentury.com" class="button">Go to site</a>-->
					<!--</span>-->

        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-sm-5 col-md-5 website-text-right">-->
        <!--<h4><a href="http://dev.bullcentury.com">BullCentury - Crowdfunding</a></h4>-->
        <!--<p>Crowdfunding (alternately crowd financing, equity crowdfunding, crowd-sourced fundraising) is the collective effort of individuals who network and pool their money, usually via the Internet, to support efforts initiated by other people or organizations.</p>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->